.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: #FFFFFF;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background: linear-gradient(180deg, #FFFFFF 23.44%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.8;
    background-size: cover;
    backdrop-filter: blur(4px) opacity(0.6);
    max-height: 25%;
    top: 0px;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    flex-wrap: wrap;
    color: #382F26;
}


.Footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    max-height: 40%;
    color: #FFFFFF;
    background: #221E1A;
}

.Footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Advantages {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -66px;
    height: 132px;
    padding-right: 5%;
    flex-wrap: wrap;
}

.Banner {
    background-image: url("images/banner-background.png");
    background-size: cover;
}

.Headerbut {
    border: 2px solid #E95A0C;
    box-sizing: border-box;
    max-width: 140px;
    max-height: 50px;
    background: none;
}

.Icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-between;

}

.Empty {
    height: 130px;
}

.BannerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(4px);


}

.AirDe {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    /* identical to box height */

    text-transform: uppercase;

    /* Text #382F26 */

    color: #382F26;
}

.AllTheCollection {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;

    color: #382F26;
}

.BannerBut {
    background: #E95A0C;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    width: 170px;
    height: 50px;
    color: #FFFFFF;
}

.Rectangular {
    width: 245px;
    height: 132px;
    text-align: center;
    vertical-align: middle;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    font-feature-settings: 'case' on;

    /* Text #382F26 */

    color: #382F26;
}

.Footer h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* White #FFFFFF */

    color: #FFFFFF;
}

.Footer p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    /* White #FFFFFF */

    color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .Header, .Advantages, .Footerdiv, .Banner {
        flex-direction: column;
    }
}


